<mat-drawer-container autosize>

    <mat-drawer #drawer mode="side" opened>
        <div class="game-menu fade-in">

            <a class="menu-item" mat-button routerLink="./scoreboard" routerLinkActive="menu-item-active">
                <span>Scoreboard</span>
            </a>

            <a class="menu-item" mat-button routerLink="./minesweeper" routerLinkActive="menu-item-active">
                <span>Minesweeper</span>
            </a>

            <a class="menu-item" mat-button routerLink="./taquin" routerLinkActive="menu-item-active">
                <span>Taquin</span>
            </a>

        </div>
    </mat-drawer>

    <div class="main-container" [class.container-margin]="!drawer.opened">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<button mat-icon-button (click)="drawer.toggle()" class="drawer-button-trigger">
    <mat-icon svgIcon="chevron_left" class="drawer-button-trigger-icon" [class.rotate]="!drawer.opened">
    </mat-icon>
</button>