:host {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
}

mat-toolbar{
    flex: 0 0 auto;
    display: flex;
    width: 100%;
}

.main-screen {
    flex: 1 1 100%;
}

.standard-links {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.auth-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    justify-self: flex-end;
}


// ::ng-deep body {
//     margin: 0;
// }

// main {
//     margin: 30px;
// }

// .user-avatar {
//     max-height: 35px;
//     border-radius: 4px;

// }

// .toolbar-tools {
//     display: flex;
// }


// .filler {
//     flex: 1 1 auto;
//     width: 100%;
// }

// .menu-item {
//     text-transform: uppercase;
//     cursor: pointer;
// }

// .menu-item.menu-item-active {
//     text-decoration: underline;
// }


// .profile-picture {
//     max-height: 40px;
// }