@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in ease-in 1;
    animation-duration: 200ms;
}
.fade-in-slow {
    animation: fade-in ease-in 1;
    animation-duration: 400ms;
}
.fade-in-fast {
    animation: fade-in ease-in 1;
    animation-duration: 100ms;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out ease-in 1;
    animation-duration: 200ms;
}
.fade-out-slow {
    animation: fade-out ease-in 1;
    animation-duration: 400ms;
}
.fade-out-fast {
    animation: fade-out ease-in 1;
    animation-duration: 100ms;
}